[submodule "23_12_2024-1757_Recyclable_and_Low_Fat_Products"]
	path = 23_12_2024-1757_Recyclable_and_Low_Fat_Products
	url = https://github.com/madiv9820/23_12_2024-1757_Recyclable_and_Low_Fat_Products.git
[submodule "23_12_2024--584_Find_Customer_Referee"]
	path = 23_12_2024--584_Find_Customer_Referee
	url = https://github.com/madiv9820/23_12_2024--584_Find_Customer_Referee.git
[submodule "23_12_2024--595_Big_Countries"]
	path = 23_12_2024--595_Big_Countries
	url = https://github.com/madiv9820/23_12_2024--595_Big_Countries.git
[submodule "24_12_2024--1148_Article_Views_I"]
	path = 24_12_2024--1148_Article_Views_I
	url = https://github.com/madiv9820/24_12_2024--1148_Article_Views_I.git
[submodule "24_12_2024--1683_Invalid_Tweets"]
	path = 24_12_2024--1683_Invalid_Tweets
	url = https://github.com/madiv9820/24_12_2024--1683_Invalid_Tweets.git
[submodule "24_12_2024--1378_Replace_Employee_ID_With_The_Unique_Identifier"]
	path = 24_12_2024--1378_Replace_Employee_ID_With_The_Unique_Identifier
	url = https://github.com/madiv9820/24_12_2024--1378_Replace_Employee_ID_With_The_Unique_Identifier.git
[submodule "25_12_2024--1068_Product_Sales_Analysis_I"]
	path = 25_12_2024--1068_Product_Sales_Analysis_I
	url = https://github.com/madiv9820/25_12_2024--1068_Product_Sales_Analysis_I.git
[submodule "25_12_2024--1581_Customer_Who_Visited_but_Did_Not_Make_Any_Transactions"]
	path = 25_12_2024--1581_Customer_Who_Visited_but_Did_Not_Make_Any_Transactions
	url = https://github.com/madiv9820/25_12_2024--1581_Customer_Who_Visited_but_Did_Not_Make_Any_Transactions.git
