[submodule "23_12_2024-1757_Recyclable_and_Low_Fat_Products"]
	path = 23_12_2024-1757_Recyclable_and_Low_Fat_Products
	url = https://github.com/madiv9820/23_12_2024-1757_Recyclable_and_Low_Fat_Products.git
[submodule "23_12_2024--584_Find_Customer_Referee"]
	path = 23_12_2024--584_Find_Customer_Referee
	url = https://github.com/madiv9820/23_12_2024--584_Find_Customer_Referee.git
[submodule "23_12_2024--595_Big_Countries"]
	path = 23_12_2024--595_Big_Countries
	url = https://github.com/madiv9820/23_12_2024--595_Big_Countries.git
[submodule "24_12_2024--1148_Article_Views_I"]
	path = 24_12_2024--1148_Article_Views_I
	url = https://github.com/madiv9820/24_12_2024--1148_Article_Views_I.git
[submodule "24_12_2024--1683_Invalid_Tweets"]
	path = 24_12_2024--1683_Invalid_Tweets
	url = https://github.com/madiv9820/24_12_2024--1683_Invalid_Tweets.git
